{
  "presets": [
    [
      "next/babel",
      {
        "reactRuntime": "automatic",
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ],
  "plugins": ["@compiled/babel-plugin", "@loadable/babel-plugin"]
}
